<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.macro.meedog.mapper.UserFamilyMapper">
  <resultMap id="BaseResultMap" type="com.macro.meedog.model.UserFamily">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="uid" jdbcType="BIGINT" property="uid" />
    <result column="age" jdbcType="INTEGER" property="age" />
    <result column="is_father" jdbcType="INTEGER" property="isFather" />
    <result column="is_mother" jdbcType="INTEGER" property="isMother" />
    <result column="country" jdbcType="VARCHAR" property="country" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="district" jdbcType="VARCHAR" property="district" />
    <result column="town" jdbcType="VARCHAR" property="town" />
    <result column="metro_station" jdbcType="VARCHAR" property="metroStation" />
    <result column="well_know_address" jdbcType="VARCHAR" property="wellKnowAddress" />
    <result column="income" jdbcType="INTEGER" property="income" />
    <result column="medical_insurance" jdbcType="INTEGER" property="medicalInsurance" />
    <result column="social_insurance" jdbcType="INTEGER" property="socialInsurance" />
    <result column="total_people" jdbcType="INTEGER" property="totalPeople" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, uid, age, is_father, is_mother, country, city, district, town, metro_station, 
    well_know_address, income, medical_insurance, social_insurance, total_people, description, 
    status, create_time, modified_time
  </sql>
  <select id="selectByExample" parameterType="com.macro.meedog.model.UserFamilyExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from user_family
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_family
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from user_family
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.macro.meedog.model.UserFamilyExample">
    delete from user_family
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.macro.meedog.model.UserFamily">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into user_family (uid, age, is_father, 
      is_mother, country, city, 
      district, town, metro_station, 
      well_know_address, income, medical_insurance, 
      social_insurance, total_people, description, 
      status, create_time, modified_time
      )
    values (#{uid,jdbcType=BIGINT}, #{age,jdbcType=INTEGER}, #{isFather,jdbcType=INTEGER}, 
      #{isMother,jdbcType=INTEGER}, #{country,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, 
      #{district,jdbcType=VARCHAR}, #{town,jdbcType=VARCHAR}, #{metroStation,jdbcType=VARCHAR}, 
      #{wellKnowAddress,jdbcType=VARCHAR}, #{income,jdbcType=INTEGER}, #{medicalInsurance,jdbcType=INTEGER}, 
      #{socialInsurance,jdbcType=INTEGER}, #{totalPeople,jdbcType=INTEGER}, #{description,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{modifiedTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.macro.meedog.model.UserFamily">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into user_family
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        uid,
      </if>
      <if test="age != null">
        age,
      </if>
      <if test="isFather != null">
        is_father,
      </if>
      <if test="isMother != null">
        is_mother,
      </if>
      <if test="country != null">
        country,
      </if>
      <if test="city != null">
        city,
      </if>
      <if test="district != null">
        district,
      </if>
      <if test="town != null">
        town,
      </if>
      <if test="metroStation != null">
        metro_station,
      </if>
      <if test="wellKnowAddress != null">
        well_know_address,
      </if>
      <if test="income != null">
        income,
      </if>
      <if test="medicalInsurance != null">
        medical_insurance,
      </if>
      <if test="socialInsurance != null">
        social_insurance,
      </if>
      <if test="totalPeople != null">
        total_people,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifiedTime != null">
        modified_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        #{uid,jdbcType=BIGINT},
      </if>
      <if test="age != null">
        #{age,jdbcType=INTEGER},
      </if>
      <if test="isFather != null">
        #{isFather,jdbcType=INTEGER},
      </if>
      <if test="isMother != null">
        #{isMother,jdbcType=INTEGER},
      </if>
      <if test="country != null">
        #{country,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="district != null">
        #{district,jdbcType=VARCHAR},
      </if>
      <if test="town != null">
        #{town,jdbcType=VARCHAR},
      </if>
      <if test="metroStation != null">
        #{metroStation,jdbcType=VARCHAR},
      </if>
      <if test="wellKnowAddress != null">
        #{wellKnowAddress,jdbcType=VARCHAR},
      </if>
      <if test="income != null">
        #{income,jdbcType=INTEGER},
      </if>
      <if test="medicalInsurance != null">
        #{medicalInsurance,jdbcType=INTEGER},
      </if>
      <if test="socialInsurance != null">
        #{socialInsurance,jdbcType=INTEGER},
      </if>
      <if test="totalPeople != null">
        #{totalPeople,jdbcType=INTEGER},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedTime != null">
        #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.macro.meedog.model.UserFamilyExample" resultType="java.lang.Long">
    select count(*) from user_family
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update user_family
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.uid != null">
        uid = #{record.uid,jdbcType=BIGINT},
      </if>
      <if test="record.age != null">
        age = #{record.age,jdbcType=INTEGER},
      </if>
      <if test="record.isFather != null">
        is_father = #{record.isFather,jdbcType=INTEGER},
      </if>
      <if test="record.isMother != null">
        is_mother = #{record.isMother,jdbcType=INTEGER},
      </if>
      <if test="record.country != null">
        country = #{record.country,jdbcType=VARCHAR},
      </if>
      <if test="record.city != null">
        city = #{record.city,jdbcType=VARCHAR},
      </if>
      <if test="record.district != null">
        district = #{record.district,jdbcType=VARCHAR},
      </if>
      <if test="record.town != null">
        town = #{record.town,jdbcType=VARCHAR},
      </if>
      <if test="record.metroStation != null">
        metro_station = #{record.metroStation,jdbcType=VARCHAR},
      </if>
      <if test="record.wellKnowAddress != null">
        well_know_address = #{record.wellKnowAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.income != null">
        income = #{record.income,jdbcType=INTEGER},
      </if>
      <if test="record.medicalInsurance != null">
        medical_insurance = #{record.medicalInsurance,jdbcType=INTEGER},
      </if>
      <if test="record.socialInsurance != null">
        social_insurance = #{record.socialInsurance,jdbcType=INTEGER},
      </if>
      <if test="record.totalPeople != null">
        total_people = #{record.totalPeople,jdbcType=INTEGER},
      </if>
      <if test="record.description != null">
        description = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifiedTime != null">
        modified_time = #{record.modifiedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update user_family
    set id = #{record.id,jdbcType=BIGINT},
      uid = #{record.uid,jdbcType=BIGINT},
      age = #{record.age,jdbcType=INTEGER},
      is_father = #{record.isFather,jdbcType=INTEGER},
      is_mother = #{record.isMother,jdbcType=INTEGER},
      country = #{record.country,jdbcType=VARCHAR},
      city = #{record.city,jdbcType=VARCHAR},
      district = #{record.district,jdbcType=VARCHAR},
      town = #{record.town,jdbcType=VARCHAR},
      metro_station = #{record.metroStation,jdbcType=VARCHAR},
      well_know_address = #{record.wellKnowAddress,jdbcType=VARCHAR},
      income = #{record.income,jdbcType=INTEGER},
      medical_insurance = #{record.medicalInsurance,jdbcType=INTEGER},
      social_insurance = #{record.socialInsurance,jdbcType=INTEGER},
      total_people = #{record.totalPeople,jdbcType=INTEGER},
      description = #{record.description,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      modified_time = #{record.modifiedTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.macro.meedog.model.UserFamily">
    update user_family
    <set>
      <if test="uid != null">
        uid = #{uid,jdbcType=BIGINT},
      </if>
      <if test="age != null">
        age = #{age,jdbcType=INTEGER},
      </if>
      <if test="isFather != null">
        is_father = #{isFather,jdbcType=INTEGER},
      </if>
      <if test="isMother != null">
        is_mother = #{isMother,jdbcType=INTEGER},
      </if>
      <if test="country != null">
        country = #{country,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="district != null">
        district = #{district,jdbcType=VARCHAR},
      </if>
      <if test="town != null">
        town = #{town,jdbcType=VARCHAR},
      </if>
      <if test="metroStation != null">
        metro_station = #{metroStation,jdbcType=VARCHAR},
      </if>
      <if test="wellKnowAddress != null">
        well_know_address = #{wellKnowAddress,jdbcType=VARCHAR},
      </if>
      <if test="income != null">
        income = #{income,jdbcType=INTEGER},
      </if>
      <if test="medicalInsurance != null">
        medical_insurance = #{medicalInsurance,jdbcType=INTEGER},
      </if>
      <if test="socialInsurance != null">
        social_insurance = #{socialInsurance,jdbcType=INTEGER},
      </if>
      <if test="totalPeople != null">
        total_people = #{totalPeople,jdbcType=INTEGER},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedTime != null">
        modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.macro.meedog.model.UserFamily">
    update user_family
    set uid = #{uid,jdbcType=BIGINT},
      age = #{age,jdbcType=INTEGER},
      is_father = #{isFather,jdbcType=INTEGER},
      is_mother = #{isMother,jdbcType=INTEGER},
      country = #{country,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      district = #{district,jdbcType=VARCHAR},
      town = #{town,jdbcType=VARCHAR},
      metro_station = #{metroStation,jdbcType=VARCHAR},
      well_know_address = #{wellKnowAddress,jdbcType=VARCHAR},
      income = #{income,jdbcType=INTEGER},
      medical_insurance = #{medicalInsurance,jdbcType=INTEGER},
      social_insurance = #{socialInsurance,jdbcType=INTEGER},
      total_people = #{totalPeople,jdbcType=INTEGER},
      description = #{description,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modified_time = #{modifiedTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>