<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.macro.meedog.mapper.UserCityMapper">
  <resultMap id="BaseResultMap" type="com.macro.meedog.model.UserCity">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="cid" jdbcType="BIGINT" property="cid" />
    <result column="pcid" jdbcType="BIGINT" property="pcid" />
    <result column="country" jdbcType="VARCHAR" property="country" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="location" jdbcType="OTHER" property="location" typeHandler="com.macro.meedog.common.geo.MysqlGeoPointTypeHandler" />
    <result column="population" jdbcType="INTEGER" property="population" />
    <result column="gdp" jdbcType="INTEGER" property="gdp" />
    <result column="avg_gdp" jdbcType="INTEGER" property="avgGdp" />
    <result column="single_male_num" jdbcType="INTEGER" property="singleMaleNum" />
    <result column="single_female_num" jdbcType="INTEGER" property="singleFemaleNum" />
    <result column="avg_income" jdbcType="INTEGER" property="avgIncome" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="city_score" jdbcType="INTEGER" property="cityScore" />
    <result column="city_rank" jdbcType="INTEGER" property="cityRank" />
    <result column="house_price" jdbcType="INTEGER" property="housePrice" />
    <result column="house_benchmark" jdbcType="INTEGER" property="houseBenchmark" />
    <result column="salary_benchmark" jdbcType="INTEGER" property="salaryBenchmark" />
    <result column="deposit_benchmark" jdbcType="INTEGER" property="depositBenchmark" />
    <result column="other_asset_benchmark" jdbcType="INTEGER" property="otherAssetBenchmark" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
            <foreach collection="criteria.locationCriteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value,typeHandler=com.macro.meedog.common.geo.MysqlGeoPointTypeHandler}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value,typeHandler=com.macro.meedog.common.geo.MysqlGeoPointTypeHandler} and #{criterion.secondValue,typeHandler=com.macro.meedog.common.geo.MysqlGeoPointTypeHandler}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem,typeHandler=com.macro.meedog.common.geo.MysqlGeoPointTypeHandler}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
            <foreach collection="criteria.locationCriteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value,typeHandler=com.macro.meedog.common.geo.MysqlGeoPointTypeHandler}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value,typeHandler=com.macro.meedog.common.geo.MysqlGeoPointTypeHandler} and #{criterion.secondValue,typeHandler=com.macro.meedog.common.geo.MysqlGeoPointTypeHandler}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem,typeHandler=com.macro.meedog.common.geo.MysqlGeoPointTypeHandler}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, cid, pcid, country, city, location, population, gdp, avg_gdp, single_male_num, 
    single_female_num, avg_income, level, status, create_time, modified_time, city_score, 
    city_rank, house_price, house_benchmark, salary_benchmark, deposit_benchmark, other_asset_benchmark
  </sql>
  <select id="selectByExample" parameterType="com.macro.meedog.model.UserCityExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from user_city
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_city
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from user_city
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.macro.meedog.model.UserCityExample">
    delete from user_city
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.macro.meedog.model.UserCity">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into user_city (cid, pcid, country, 
      city, location, 
      population, gdp, avg_gdp, 
      single_male_num, single_female_num, avg_income, 
      level, status, create_time, 
      modified_time, city_score, city_rank, 
      house_price, house_benchmark, salary_benchmark, 
      deposit_benchmark, other_asset_benchmark)
    values (#{cid,jdbcType=BIGINT}, #{pcid,jdbcType=BIGINT}, #{country,jdbcType=VARCHAR}, 
      #{city,jdbcType=VARCHAR}, #{location,jdbcType=OTHER,typeHandler=com.macro.meedog.common.geo.MysqlGeoPointTypeHandler}, 
      #{population,jdbcType=INTEGER}, #{gdp,jdbcType=INTEGER}, #{avgGdp,jdbcType=INTEGER}, 
      #{singleMaleNum,jdbcType=INTEGER}, #{singleFemaleNum,jdbcType=INTEGER}, #{avgIncome,jdbcType=INTEGER}, 
      #{level,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{modifiedTime,jdbcType=TIMESTAMP}, #{cityScore,jdbcType=INTEGER}, #{cityRank,jdbcType=INTEGER}, 
      #{housePrice,jdbcType=INTEGER}, #{houseBenchmark,jdbcType=INTEGER}, #{salaryBenchmark,jdbcType=INTEGER}, 
      #{depositBenchmark,jdbcType=INTEGER}, #{otherAssetBenchmark,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.macro.meedog.model.UserCity">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into user_city
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cid != null">
        cid,
      </if>
      <if test="pcid != null">
        pcid,
      </if>
      <if test="country != null">
        country,
      </if>
      <if test="city != null">
        city,
      </if>
      <if test="location != null">
        location,
      </if>
      <if test="population != null">
        population,
      </if>
      <if test="gdp != null">
        gdp,
      </if>
      <if test="avgGdp != null">
        avg_gdp,
      </if>
      <if test="singleMaleNum != null">
        single_male_num,
      </if>
      <if test="singleFemaleNum != null">
        single_female_num,
      </if>
      <if test="avgIncome != null">
        avg_income,
      </if>
      <if test="level != null">
        level,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifiedTime != null">
        modified_time,
      </if>
      <if test="cityScore != null">
        city_score,
      </if>
      <if test="cityRank != null">
        city_rank,
      </if>
      <if test="housePrice != null">
        house_price,
      </if>
      <if test="houseBenchmark != null">
        house_benchmark,
      </if>
      <if test="salaryBenchmark != null">
        salary_benchmark,
      </if>
      <if test="depositBenchmark != null">
        deposit_benchmark,
      </if>
      <if test="otherAssetBenchmark != null">
        other_asset_benchmark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cid != null">
        #{cid,jdbcType=BIGINT},
      </if>
      <if test="pcid != null">
        #{pcid,jdbcType=BIGINT},
      </if>
      <if test="country != null">
        #{country,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="location != null">
        #{location,jdbcType=OTHER,typeHandler=com.macro.meedog.common.geo.MysqlGeoPointTypeHandler},
      </if>
      <if test="population != null">
        #{population,jdbcType=INTEGER},
      </if>
      <if test="gdp != null">
        #{gdp,jdbcType=INTEGER},
      </if>
      <if test="avgGdp != null">
        #{avgGdp,jdbcType=INTEGER},
      </if>
      <if test="singleMaleNum != null">
        #{singleMaleNum,jdbcType=INTEGER},
      </if>
      <if test="singleFemaleNum != null">
        #{singleFemaleNum,jdbcType=INTEGER},
      </if>
      <if test="avgIncome != null">
        #{avgIncome,jdbcType=INTEGER},
      </if>
      <if test="level != null">
        #{level,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedTime != null">
        #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cityScore != null">
        #{cityScore,jdbcType=INTEGER},
      </if>
      <if test="cityRank != null">
        #{cityRank,jdbcType=INTEGER},
      </if>
      <if test="housePrice != null">
        #{housePrice,jdbcType=INTEGER},
      </if>
      <if test="houseBenchmark != null">
        #{houseBenchmark,jdbcType=INTEGER},
      </if>
      <if test="salaryBenchmark != null">
        #{salaryBenchmark,jdbcType=INTEGER},
      </if>
      <if test="depositBenchmark != null">
        #{depositBenchmark,jdbcType=INTEGER},
      </if>
      <if test="otherAssetBenchmark != null">
        #{otherAssetBenchmark,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.macro.meedog.model.UserCityExample" resultType="java.lang.Long">
    select count(*) from user_city
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update user_city
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.cid != null">
        cid = #{record.cid,jdbcType=BIGINT},
      </if>
      <if test="record.pcid != null">
        pcid = #{record.pcid,jdbcType=BIGINT},
      </if>
      <if test="record.country != null">
        country = #{record.country,jdbcType=VARCHAR},
      </if>
      <if test="record.city != null">
        city = #{record.city,jdbcType=VARCHAR},
      </if>
      <if test="record.location != null">
        location = #{record.location,jdbcType=OTHER,typeHandler=com.macro.meedog.common.geo.MysqlGeoPointTypeHandler},
      </if>
      <if test="record.population != null">
        population = #{record.population,jdbcType=INTEGER},
      </if>
      <if test="record.gdp != null">
        gdp = #{record.gdp,jdbcType=INTEGER},
      </if>
      <if test="record.avgGdp != null">
        avg_gdp = #{record.avgGdp,jdbcType=INTEGER},
      </if>
      <if test="record.singleMaleNum != null">
        single_male_num = #{record.singleMaleNum,jdbcType=INTEGER},
      </if>
      <if test="record.singleFemaleNum != null">
        single_female_num = #{record.singleFemaleNum,jdbcType=INTEGER},
      </if>
      <if test="record.avgIncome != null">
        avg_income = #{record.avgIncome,jdbcType=INTEGER},
      </if>
      <if test="record.level != null">
        level = #{record.level,jdbcType=INTEGER},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifiedTime != null">
        modified_time = #{record.modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.cityScore != null">
        city_score = #{record.cityScore,jdbcType=INTEGER},
      </if>
      <if test="record.cityRank != null">
        city_rank = #{record.cityRank,jdbcType=INTEGER},
      </if>
      <if test="record.housePrice != null">
        house_price = #{record.housePrice,jdbcType=INTEGER},
      </if>
      <if test="record.houseBenchmark != null">
        house_benchmark = #{record.houseBenchmark,jdbcType=INTEGER},
      </if>
      <if test="record.salaryBenchmark != null">
        salary_benchmark = #{record.salaryBenchmark,jdbcType=INTEGER},
      </if>
      <if test="record.depositBenchmark != null">
        deposit_benchmark = #{record.depositBenchmark,jdbcType=INTEGER},
      </if>
      <if test="record.otherAssetBenchmark != null">
        other_asset_benchmark = #{record.otherAssetBenchmark,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update user_city
    set id = #{record.id,jdbcType=BIGINT},
      cid = #{record.cid,jdbcType=BIGINT},
      pcid = #{record.pcid,jdbcType=BIGINT},
      country = #{record.country,jdbcType=VARCHAR},
      city = #{record.city,jdbcType=VARCHAR},
      location = #{record.location,jdbcType=OTHER,typeHandler=com.macro.meedog.common.geo.MysqlGeoPointTypeHandler},
      population = #{record.population,jdbcType=INTEGER},
      gdp = #{record.gdp,jdbcType=INTEGER},
      avg_gdp = #{record.avgGdp,jdbcType=INTEGER},
      single_male_num = #{record.singleMaleNum,jdbcType=INTEGER},
      single_female_num = #{record.singleFemaleNum,jdbcType=INTEGER},
      avg_income = #{record.avgIncome,jdbcType=INTEGER},
      level = #{record.level,jdbcType=INTEGER},
      status = #{record.status,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      modified_time = #{record.modifiedTime,jdbcType=TIMESTAMP},
      city_score = #{record.cityScore,jdbcType=INTEGER},
      city_rank = #{record.cityRank,jdbcType=INTEGER},
      house_price = #{record.housePrice,jdbcType=INTEGER},
      house_benchmark = #{record.houseBenchmark,jdbcType=INTEGER},
      salary_benchmark = #{record.salaryBenchmark,jdbcType=INTEGER},
      deposit_benchmark = #{record.depositBenchmark,jdbcType=INTEGER},
      other_asset_benchmark = #{record.otherAssetBenchmark,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.macro.meedog.model.UserCity">
    update user_city
    <set>
      <if test="cid != null">
        cid = #{cid,jdbcType=BIGINT},
      </if>
      <if test="pcid != null">
        pcid = #{pcid,jdbcType=BIGINT},
      </if>
      <if test="country != null">
        country = #{country,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="location != null">
        location = #{location,jdbcType=OTHER,typeHandler=com.macro.meedog.common.geo.MysqlGeoPointTypeHandler},
      </if>
      <if test="population != null">
        population = #{population,jdbcType=INTEGER},
      </if>
      <if test="gdp != null">
        gdp = #{gdp,jdbcType=INTEGER},
      </if>
      <if test="avgGdp != null">
        avg_gdp = #{avgGdp,jdbcType=INTEGER},
      </if>
      <if test="singleMaleNum != null">
        single_male_num = #{singleMaleNum,jdbcType=INTEGER},
      </if>
      <if test="singleFemaleNum != null">
        single_female_num = #{singleFemaleNum,jdbcType=INTEGER},
      </if>
      <if test="avgIncome != null">
        avg_income = #{avgIncome,jdbcType=INTEGER},
      </if>
      <if test="level != null">
        level = #{level,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedTime != null">
        modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cityScore != null">
        city_score = #{cityScore,jdbcType=INTEGER},
      </if>
      <if test="cityRank != null">
        city_rank = #{cityRank,jdbcType=INTEGER},
      </if>
      <if test="housePrice != null">
        house_price = #{housePrice,jdbcType=INTEGER},
      </if>
      <if test="houseBenchmark != null">
        house_benchmark = #{houseBenchmark,jdbcType=INTEGER},
      </if>
      <if test="salaryBenchmark != null">
        salary_benchmark = #{salaryBenchmark,jdbcType=INTEGER},
      </if>
      <if test="depositBenchmark != null">
        deposit_benchmark = #{depositBenchmark,jdbcType=INTEGER},
      </if>
      <if test="otherAssetBenchmark != null">
        other_asset_benchmark = #{otherAssetBenchmark,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.macro.meedog.model.UserCity">
    update user_city
    set cid = #{cid,jdbcType=BIGINT},
      pcid = #{pcid,jdbcType=BIGINT},
      country = #{country,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      location = #{location,jdbcType=OTHER,typeHandler=com.macro.meedog.common.geo.MysqlGeoPointTypeHandler},
      population = #{population,jdbcType=INTEGER},
      gdp = #{gdp,jdbcType=INTEGER},
      avg_gdp = #{avgGdp,jdbcType=INTEGER},
      single_male_num = #{singleMaleNum,jdbcType=INTEGER},
      single_female_num = #{singleFemaleNum,jdbcType=INTEGER},
      avg_income = #{avgIncome,jdbcType=INTEGER},
      level = #{level,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      city_score = #{cityScore,jdbcType=INTEGER},
      city_rank = #{cityRank,jdbcType=INTEGER},
      house_price = #{housePrice,jdbcType=INTEGER},
      house_benchmark = #{houseBenchmark,jdbcType=INTEGER},
      salary_benchmark = #{salaryBenchmark,jdbcType=INTEGER},
      deposit_benchmark = #{depositBenchmark,jdbcType=INTEGER},
      other_asset_benchmark = #{otherAssetBenchmark,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>