<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.macro.meedog.mapper.UserAssetSalaryHouseMapper">
  <resultMap id="BaseResultMap" type="com.macro.meedog.model.UserAssetSalaryHouse">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="asset_salary_id" jdbcType="BIGINT" property="assetSalaryId" />
    <result column="country" jdbcType="VARCHAR" property="country" />
    <result column="province_id" jdbcType="INTEGER" property="provinceId" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city_id" jdbcType="INTEGER" property="cityId" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="district_id" jdbcType="INTEGER" property="districtId" />
    <result column="district" jdbcType="VARCHAR" property="district" />
    <result column="metro_station" jdbcType="VARCHAR" property="metroStation" />
    <result column="well_know_address" jdbcType="VARCHAR" property="wellKnowAddress" />
    <result column="house_price" jdbcType="INTEGER" property="housePrice" />
    <result column="school_estate" jdbcType="VARCHAR" property="schoolEstate" />
    <result column="near_center" jdbcType="VARCHAR" property="nearCenter" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, asset_salary_id, country, province_id, province, city_id, city, district_id, 
    district, metro_station, well_know_address, house_price, school_estate, near_center, 
    status, create_time, modified_time
  </sql>
  <select id="selectByExample" parameterType="com.macro.meedog.model.UserAssetSalaryHouseExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from user_asset_salary_house
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_asset_salary_house
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from user_asset_salary_house
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.macro.meedog.model.UserAssetSalaryHouseExample">
    delete from user_asset_salary_house
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.macro.meedog.model.UserAssetSalaryHouse">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into user_asset_salary_house (asset_salary_id, country, province_id, 
      province, city_id, city, 
      district_id, district, metro_station, 
      well_know_address, house_price, school_estate, 
      near_center, status, create_time, 
      modified_time)
    values (#{assetSalaryId,jdbcType=BIGINT}, #{country,jdbcType=VARCHAR}, #{provinceId,jdbcType=INTEGER}, 
      #{province,jdbcType=VARCHAR}, #{cityId,jdbcType=INTEGER}, #{city,jdbcType=VARCHAR}, 
      #{districtId,jdbcType=INTEGER}, #{district,jdbcType=VARCHAR}, #{metroStation,jdbcType=VARCHAR}, 
      #{wellKnowAddress,jdbcType=VARCHAR}, #{housePrice,jdbcType=INTEGER}, #{schoolEstate,jdbcType=VARCHAR}, 
      #{nearCenter,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{modifiedTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.macro.meedog.model.UserAssetSalaryHouse">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into user_asset_salary_house
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="assetSalaryId != null">
        asset_salary_id,
      </if>
      <if test="country != null">
        country,
      </if>
      <if test="provinceId != null">
        province_id,
      </if>
      <if test="province != null">
        province,
      </if>
      <if test="cityId != null">
        city_id,
      </if>
      <if test="city != null">
        city,
      </if>
      <if test="districtId != null">
        district_id,
      </if>
      <if test="district != null">
        district,
      </if>
      <if test="metroStation != null">
        metro_station,
      </if>
      <if test="wellKnowAddress != null">
        well_know_address,
      </if>
      <if test="housePrice != null">
        house_price,
      </if>
      <if test="schoolEstate != null">
        school_estate,
      </if>
      <if test="nearCenter != null">
        near_center,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifiedTime != null">
        modified_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="assetSalaryId != null">
        #{assetSalaryId,jdbcType=BIGINT},
      </if>
      <if test="country != null">
        #{country,jdbcType=VARCHAR},
      </if>
      <if test="provinceId != null">
        #{provinceId,jdbcType=INTEGER},
      </if>
      <if test="province != null">
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="cityId != null">
        #{cityId,jdbcType=INTEGER},
      </if>
      <if test="city != null">
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="districtId != null">
        #{districtId,jdbcType=INTEGER},
      </if>
      <if test="district != null">
        #{district,jdbcType=VARCHAR},
      </if>
      <if test="metroStation != null">
        #{metroStation,jdbcType=VARCHAR},
      </if>
      <if test="wellKnowAddress != null">
        #{wellKnowAddress,jdbcType=VARCHAR},
      </if>
      <if test="housePrice != null">
        #{housePrice,jdbcType=INTEGER},
      </if>
      <if test="schoolEstate != null">
        #{schoolEstate,jdbcType=VARCHAR},
      </if>
      <if test="nearCenter != null">
        #{nearCenter,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedTime != null">
        #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.macro.meedog.model.UserAssetSalaryHouseExample" resultType="java.lang.Long">
    select count(*) from user_asset_salary_house
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update user_asset_salary_house
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.assetSalaryId != null">
        asset_salary_id = #{record.assetSalaryId,jdbcType=BIGINT},
      </if>
      <if test="record.country != null">
        country = #{record.country,jdbcType=VARCHAR},
      </if>
      <if test="record.provinceId != null">
        province_id = #{record.provinceId,jdbcType=INTEGER},
      </if>
      <if test="record.province != null">
        province = #{record.province,jdbcType=VARCHAR},
      </if>
      <if test="record.cityId != null">
        city_id = #{record.cityId,jdbcType=INTEGER},
      </if>
      <if test="record.city != null">
        city = #{record.city,jdbcType=VARCHAR},
      </if>
      <if test="record.districtId != null">
        district_id = #{record.districtId,jdbcType=INTEGER},
      </if>
      <if test="record.district != null">
        district = #{record.district,jdbcType=VARCHAR},
      </if>
      <if test="record.metroStation != null">
        metro_station = #{record.metroStation,jdbcType=VARCHAR},
      </if>
      <if test="record.wellKnowAddress != null">
        well_know_address = #{record.wellKnowAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.housePrice != null">
        house_price = #{record.housePrice,jdbcType=INTEGER},
      </if>
      <if test="record.schoolEstate != null">
        school_estate = #{record.schoolEstate,jdbcType=VARCHAR},
      </if>
      <if test="record.nearCenter != null">
        near_center = #{record.nearCenter,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifiedTime != null">
        modified_time = #{record.modifiedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update user_asset_salary_house
    set id = #{record.id,jdbcType=BIGINT},
      asset_salary_id = #{record.assetSalaryId,jdbcType=BIGINT},
      country = #{record.country,jdbcType=VARCHAR},
      province_id = #{record.provinceId,jdbcType=INTEGER},
      province = #{record.province,jdbcType=VARCHAR},
      city_id = #{record.cityId,jdbcType=INTEGER},
      city = #{record.city,jdbcType=VARCHAR},
      district_id = #{record.districtId,jdbcType=INTEGER},
      district = #{record.district,jdbcType=VARCHAR},
      metro_station = #{record.metroStation,jdbcType=VARCHAR},
      well_know_address = #{record.wellKnowAddress,jdbcType=VARCHAR},
      house_price = #{record.housePrice,jdbcType=INTEGER},
      school_estate = #{record.schoolEstate,jdbcType=VARCHAR},
      near_center = #{record.nearCenter,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      modified_time = #{record.modifiedTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.macro.meedog.model.UserAssetSalaryHouse">
    update user_asset_salary_house
    <set>
      <if test="assetSalaryId != null">
        asset_salary_id = #{assetSalaryId,jdbcType=BIGINT},
      </if>
      <if test="country != null">
        country = #{country,jdbcType=VARCHAR},
      </if>
      <if test="provinceId != null">
        province_id = #{provinceId,jdbcType=INTEGER},
      </if>
      <if test="province != null">
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="cityId != null">
        city_id = #{cityId,jdbcType=INTEGER},
      </if>
      <if test="city != null">
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="districtId != null">
        district_id = #{districtId,jdbcType=INTEGER},
      </if>
      <if test="district != null">
        district = #{district,jdbcType=VARCHAR},
      </if>
      <if test="metroStation != null">
        metro_station = #{metroStation,jdbcType=VARCHAR},
      </if>
      <if test="wellKnowAddress != null">
        well_know_address = #{wellKnowAddress,jdbcType=VARCHAR},
      </if>
      <if test="housePrice != null">
        house_price = #{housePrice,jdbcType=INTEGER},
      </if>
      <if test="schoolEstate != null">
        school_estate = #{schoolEstate,jdbcType=VARCHAR},
      </if>
      <if test="nearCenter != null">
        near_center = #{nearCenter,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedTime != null">
        modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.macro.meedog.model.UserAssetSalaryHouse">
    update user_asset_salary_house
    set asset_salary_id = #{assetSalaryId,jdbcType=BIGINT},
      country = #{country,jdbcType=VARCHAR},
      province_id = #{provinceId,jdbcType=INTEGER},
      province = #{province,jdbcType=VARCHAR},
      city_id = #{cityId,jdbcType=INTEGER},
      city = #{city,jdbcType=VARCHAR},
      district_id = #{districtId,jdbcType=INTEGER},
      district = #{district,jdbcType=VARCHAR},
      metro_station = #{metroStation,jdbcType=VARCHAR},
      well_know_address = #{wellKnowAddress,jdbcType=VARCHAR},
      house_price = #{housePrice,jdbcType=INTEGER},
      school_estate = #{schoolEstate,jdbcType=VARCHAR},
      near_center = #{nearCenter,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modified_time = #{modifiedTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>