<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.macro.meedog.mapper.UserAccountMapper">
  <resultMap id="BaseResultMap" type="com.macro.meedog.model.UserAccount">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="uid" jdbcType="BIGINT" property="uid" />
    <result column="wechat_major" jdbcType="VARCHAR" property="wechatMajor" />
    <result column="wechat_minor" jdbcType="VARCHAR" property="wechatMinor" />
    <result column="wechat_mini" jdbcType="VARCHAR" property="wechatMini" />
    <result column="qq_id" jdbcType="VARCHAR" property="qqId" />
    <result column="douban_id" jdbcType="VARCHAR" property="doubanId" />
    <result column="zhihu_id" jdbcType="VARCHAR" property="zhihuId" />
    <result column="weibo_id" jdbcType="VARCHAR" property="weiboId" />
    <result column="douyin_id" jdbcType="VARCHAR" property="douyinId" />
    <result column="kuaishou_id" jdbcType="VARCHAR" property="kuaishouId" />
    <result column="bilibili_id" jdbcType="VARCHAR" property="bilibiliId" />
    <result column="tiktok_id" jdbcType="VARCHAR" property="tiktokId" />
    <result column="youtube_id" jdbcType="VARCHAR" property="youtubeId" />
    <result column="facebook_id" jdbcType="VARCHAR" property="facebookId" />
    <result column="instgram_id" jdbcType="VARCHAR" property="instgramId" />
    <result column="twitter_id" jdbcType="VARCHAR" property="twitterId" />
    <result column="maimai_id" jdbcType="VARCHAR" property="maimaiId" />
    <result column="linkedin_id" jdbcType="VARCHAR" property="linkedinId" />
    <result column="phone_major" jdbcType="VARCHAR" property="phoneMajor" />
    <result column="phone_minor" jdbcType="VARCHAR" property="phoneMinor" />
    <result column="phone_mini" jdbcType="VARCHAR" property="phoneMini" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, uid, wechat_major, wechat_minor, wechat_mini, qq_id, douban_id, zhihu_id, weibo_id, 
    douyin_id, kuaishou_id, bilibili_id, tiktok_id, youtube_id, facebook_id, instgram_id, 
    twitter_id, maimai_id, linkedin_id, phone_major, phone_minor, phone_mini, description, 
    status, create_time, modified_time
  </sql>
  <select id="selectByExample" parameterType="com.macro.meedog.model.UserAccountExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from user_account
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_account
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from user_account
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.macro.meedog.model.UserAccountExample">
    delete from user_account
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.macro.meedog.model.UserAccount">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into user_account (uid, wechat_major, wechat_minor, 
      wechat_mini, qq_id, douban_id, 
      zhihu_id, weibo_id, douyin_id, 
      kuaishou_id, bilibili_id, tiktok_id, 
      youtube_id, facebook_id, instgram_id, 
      twitter_id, maimai_id, linkedin_id, 
      phone_major, phone_minor, phone_mini, 
      description, status, create_time, 
      modified_time)
    values (#{uid,jdbcType=BIGINT}, #{wechatMajor,jdbcType=VARCHAR}, #{wechatMinor,jdbcType=VARCHAR}, 
      #{wechatMini,jdbcType=VARCHAR}, #{qqId,jdbcType=VARCHAR}, #{doubanId,jdbcType=VARCHAR}, 
      #{zhihuId,jdbcType=VARCHAR}, #{weiboId,jdbcType=VARCHAR}, #{douyinId,jdbcType=VARCHAR}, 
      #{kuaishouId,jdbcType=VARCHAR}, #{bilibiliId,jdbcType=VARCHAR}, #{tiktokId,jdbcType=VARCHAR}, 
      #{youtubeId,jdbcType=VARCHAR}, #{facebookId,jdbcType=VARCHAR}, #{instgramId,jdbcType=VARCHAR}, 
      #{twitterId,jdbcType=VARCHAR}, #{maimaiId,jdbcType=VARCHAR}, #{linkedinId,jdbcType=VARCHAR}, 
      #{phoneMajor,jdbcType=VARCHAR}, #{phoneMinor,jdbcType=VARCHAR}, #{phoneMini,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{modifiedTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.macro.meedog.model.UserAccount">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into user_account
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        uid,
      </if>
      <if test="wechatMajor != null">
        wechat_major,
      </if>
      <if test="wechatMinor != null">
        wechat_minor,
      </if>
      <if test="wechatMini != null">
        wechat_mini,
      </if>
      <if test="qqId != null">
        qq_id,
      </if>
      <if test="doubanId != null">
        douban_id,
      </if>
      <if test="zhihuId != null">
        zhihu_id,
      </if>
      <if test="weiboId != null">
        weibo_id,
      </if>
      <if test="douyinId != null">
        douyin_id,
      </if>
      <if test="kuaishouId != null">
        kuaishou_id,
      </if>
      <if test="bilibiliId != null">
        bilibili_id,
      </if>
      <if test="tiktokId != null">
        tiktok_id,
      </if>
      <if test="youtubeId != null">
        youtube_id,
      </if>
      <if test="facebookId != null">
        facebook_id,
      </if>
      <if test="instgramId != null">
        instgram_id,
      </if>
      <if test="twitterId != null">
        twitter_id,
      </if>
      <if test="maimaiId != null">
        maimai_id,
      </if>
      <if test="linkedinId != null">
        linkedin_id,
      </if>
      <if test="phoneMajor != null">
        phone_major,
      </if>
      <if test="phoneMinor != null">
        phone_minor,
      </if>
      <if test="phoneMini != null">
        phone_mini,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifiedTime != null">
        modified_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        #{uid,jdbcType=BIGINT},
      </if>
      <if test="wechatMajor != null">
        #{wechatMajor,jdbcType=VARCHAR},
      </if>
      <if test="wechatMinor != null">
        #{wechatMinor,jdbcType=VARCHAR},
      </if>
      <if test="wechatMini != null">
        #{wechatMini,jdbcType=VARCHAR},
      </if>
      <if test="qqId != null">
        #{qqId,jdbcType=VARCHAR},
      </if>
      <if test="doubanId != null">
        #{doubanId,jdbcType=VARCHAR},
      </if>
      <if test="zhihuId != null">
        #{zhihuId,jdbcType=VARCHAR},
      </if>
      <if test="weiboId != null">
        #{weiboId,jdbcType=VARCHAR},
      </if>
      <if test="douyinId != null">
        #{douyinId,jdbcType=VARCHAR},
      </if>
      <if test="kuaishouId != null">
        #{kuaishouId,jdbcType=VARCHAR},
      </if>
      <if test="bilibiliId != null">
        #{bilibiliId,jdbcType=VARCHAR},
      </if>
      <if test="tiktokId != null">
        #{tiktokId,jdbcType=VARCHAR},
      </if>
      <if test="youtubeId != null">
        #{youtubeId,jdbcType=VARCHAR},
      </if>
      <if test="facebookId != null">
        #{facebookId,jdbcType=VARCHAR},
      </if>
      <if test="instgramId != null">
        #{instgramId,jdbcType=VARCHAR},
      </if>
      <if test="twitterId != null">
        #{twitterId,jdbcType=VARCHAR},
      </if>
      <if test="maimaiId != null">
        #{maimaiId,jdbcType=VARCHAR},
      </if>
      <if test="linkedinId != null">
        #{linkedinId,jdbcType=VARCHAR},
      </if>
      <if test="phoneMajor != null">
        #{phoneMajor,jdbcType=VARCHAR},
      </if>
      <if test="phoneMinor != null">
        #{phoneMinor,jdbcType=VARCHAR},
      </if>
      <if test="phoneMini != null">
        #{phoneMini,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedTime != null">
        #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.macro.meedog.model.UserAccountExample" resultType="java.lang.Long">
    select count(*) from user_account
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update user_account
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.uid != null">
        uid = #{record.uid,jdbcType=BIGINT},
      </if>
      <if test="record.wechatMajor != null">
        wechat_major = #{record.wechatMajor,jdbcType=VARCHAR},
      </if>
      <if test="record.wechatMinor != null">
        wechat_minor = #{record.wechatMinor,jdbcType=VARCHAR},
      </if>
      <if test="record.wechatMini != null">
        wechat_mini = #{record.wechatMini,jdbcType=VARCHAR},
      </if>
      <if test="record.qqId != null">
        qq_id = #{record.qqId,jdbcType=VARCHAR},
      </if>
      <if test="record.doubanId != null">
        douban_id = #{record.doubanId,jdbcType=VARCHAR},
      </if>
      <if test="record.zhihuId != null">
        zhihu_id = #{record.zhihuId,jdbcType=VARCHAR},
      </if>
      <if test="record.weiboId != null">
        weibo_id = #{record.weiboId,jdbcType=VARCHAR},
      </if>
      <if test="record.douyinId != null">
        douyin_id = #{record.douyinId,jdbcType=VARCHAR},
      </if>
      <if test="record.kuaishouId != null">
        kuaishou_id = #{record.kuaishouId,jdbcType=VARCHAR},
      </if>
      <if test="record.bilibiliId != null">
        bilibili_id = #{record.bilibiliId,jdbcType=VARCHAR},
      </if>
      <if test="record.tiktokId != null">
        tiktok_id = #{record.tiktokId,jdbcType=VARCHAR},
      </if>
      <if test="record.youtubeId != null">
        youtube_id = #{record.youtubeId,jdbcType=VARCHAR},
      </if>
      <if test="record.facebookId != null">
        facebook_id = #{record.facebookId,jdbcType=VARCHAR},
      </if>
      <if test="record.instgramId != null">
        instgram_id = #{record.instgramId,jdbcType=VARCHAR},
      </if>
      <if test="record.twitterId != null">
        twitter_id = #{record.twitterId,jdbcType=VARCHAR},
      </if>
      <if test="record.maimaiId != null">
        maimai_id = #{record.maimaiId,jdbcType=VARCHAR},
      </if>
      <if test="record.linkedinId != null">
        linkedin_id = #{record.linkedinId,jdbcType=VARCHAR},
      </if>
      <if test="record.phoneMajor != null">
        phone_major = #{record.phoneMajor,jdbcType=VARCHAR},
      </if>
      <if test="record.phoneMinor != null">
        phone_minor = #{record.phoneMinor,jdbcType=VARCHAR},
      </if>
      <if test="record.phoneMini != null">
        phone_mini = #{record.phoneMini,jdbcType=VARCHAR},
      </if>
      <if test="record.description != null">
        description = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifiedTime != null">
        modified_time = #{record.modifiedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update user_account
    set id = #{record.id,jdbcType=BIGINT},
      uid = #{record.uid,jdbcType=BIGINT},
      wechat_major = #{record.wechatMajor,jdbcType=VARCHAR},
      wechat_minor = #{record.wechatMinor,jdbcType=VARCHAR},
      wechat_mini = #{record.wechatMini,jdbcType=VARCHAR},
      qq_id = #{record.qqId,jdbcType=VARCHAR},
      douban_id = #{record.doubanId,jdbcType=VARCHAR},
      zhihu_id = #{record.zhihuId,jdbcType=VARCHAR},
      weibo_id = #{record.weiboId,jdbcType=VARCHAR},
      douyin_id = #{record.douyinId,jdbcType=VARCHAR},
      kuaishou_id = #{record.kuaishouId,jdbcType=VARCHAR},
      bilibili_id = #{record.bilibiliId,jdbcType=VARCHAR},
      tiktok_id = #{record.tiktokId,jdbcType=VARCHAR},
      youtube_id = #{record.youtubeId,jdbcType=VARCHAR},
      facebook_id = #{record.facebookId,jdbcType=VARCHAR},
      instgram_id = #{record.instgramId,jdbcType=VARCHAR},
      twitter_id = #{record.twitterId,jdbcType=VARCHAR},
      maimai_id = #{record.maimaiId,jdbcType=VARCHAR},
      linkedin_id = #{record.linkedinId,jdbcType=VARCHAR},
      phone_major = #{record.phoneMajor,jdbcType=VARCHAR},
      phone_minor = #{record.phoneMinor,jdbcType=VARCHAR},
      phone_mini = #{record.phoneMini,jdbcType=VARCHAR},
      description = #{record.description,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      modified_time = #{record.modifiedTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.macro.meedog.model.UserAccount">
    update user_account
    <set>
      <if test="uid != null">
        uid = #{uid,jdbcType=BIGINT},
      </if>
      <if test="wechatMajor != null">
        wechat_major = #{wechatMajor,jdbcType=VARCHAR},
      </if>
      <if test="wechatMinor != null">
        wechat_minor = #{wechatMinor,jdbcType=VARCHAR},
      </if>
      <if test="wechatMini != null">
        wechat_mini = #{wechatMini,jdbcType=VARCHAR},
      </if>
      <if test="qqId != null">
        qq_id = #{qqId,jdbcType=VARCHAR},
      </if>
      <if test="doubanId != null">
        douban_id = #{doubanId,jdbcType=VARCHAR},
      </if>
      <if test="zhihuId != null">
        zhihu_id = #{zhihuId,jdbcType=VARCHAR},
      </if>
      <if test="weiboId != null">
        weibo_id = #{weiboId,jdbcType=VARCHAR},
      </if>
      <if test="douyinId != null">
        douyin_id = #{douyinId,jdbcType=VARCHAR},
      </if>
      <if test="kuaishouId != null">
        kuaishou_id = #{kuaishouId,jdbcType=VARCHAR},
      </if>
      <if test="bilibiliId != null">
        bilibili_id = #{bilibiliId,jdbcType=VARCHAR},
      </if>
      <if test="tiktokId != null">
        tiktok_id = #{tiktokId,jdbcType=VARCHAR},
      </if>
      <if test="youtubeId != null">
        youtube_id = #{youtubeId,jdbcType=VARCHAR},
      </if>
      <if test="facebookId != null">
        facebook_id = #{facebookId,jdbcType=VARCHAR},
      </if>
      <if test="instgramId != null">
        instgram_id = #{instgramId,jdbcType=VARCHAR},
      </if>
      <if test="twitterId != null">
        twitter_id = #{twitterId,jdbcType=VARCHAR},
      </if>
      <if test="maimaiId != null">
        maimai_id = #{maimaiId,jdbcType=VARCHAR},
      </if>
      <if test="linkedinId != null">
        linkedin_id = #{linkedinId,jdbcType=VARCHAR},
      </if>
      <if test="phoneMajor != null">
        phone_major = #{phoneMajor,jdbcType=VARCHAR},
      </if>
      <if test="phoneMinor != null">
        phone_minor = #{phoneMinor,jdbcType=VARCHAR},
      </if>
      <if test="phoneMini != null">
        phone_mini = #{phoneMini,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedTime != null">
        modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.macro.meedog.model.UserAccount">
    update user_account
    set uid = #{uid,jdbcType=BIGINT},
      wechat_major = #{wechatMajor,jdbcType=VARCHAR},
      wechat_minor = #{wechatMinor,jdbcType=VARCHAR},
      wechat_mini = #{wechatMini,jdbcType=VARCHAR},
      qq_id = #{qqId,jdbcType=VARCHAR},
      douban_id = #{doubanId,jdbcType=VARCHAR},
      zhihu_id = #{zhihuId,jdbcType=VARCHAR},
      weibo_id = #{weiboId,jdbcType=VARCHAR},
      douyin_id = #{douyinId,jdbcType=VARCHAR},
      kuaishou_id = #{kuaishouId,jdbcType=VARCHAR},
      bilibili_id = #{bilibiliId,jdbcType=VARCHAR},
      tiktok_id = #{tiktokId,jdbcType=VARCHAR},
      youtube_id = #{youtubeId,jdbcType=VARCHAR},
      facebook_id = #{facebookId,jdbcType=VARCHAR},
      instgram_id = #{instgramId,jdbcType=VARCHAR},
      twitter_id = #{twitterId,jdbcType=VARCHAR},
      maimai_id = #{maimaiId,jdbcType=VARCHAR},
      linkedin_id = #{linkedinId,jdbcType=VARCHAR},
      phone_major = #{phoneMajor,jdbcType=VARCHAR},
      phone_minor = #{phoneMinor,jdbcType=VARCHAR},
      phone_mini = #{phoneMini,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modified_time = #{modifiedTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>